- @active_tab = :photos
- title "Edit Photo #{h @band_photo.title}"
  
- form_for(@band_photo, :html => {:multipart => true}) do |f|
  = f.error_messages
  = render :partial => 'form', :object => f
  = f.submit 'Save Changes', :class => 'submit'
  = link_to 'Cancel', band_photos_path, :class => 'cancel'
