- @active_tab = :photos
- title 'Photos', true

- if current_user.try :admin?
  = link_to 'New', new_band_photo_path

#band_photos
  - @band_photos.each do |band_photo|
    = link_to image_tag(band_photo.file(:thumb)), band_photo
    - if current_user.try :admin?
      = link_to 'Edit', edit_band_photo_path(band_photo)
      = link_to 'Delete', band_photo, :confirm => "Are you sure you want to delete the photo titled '#{band_photo.title}'?", :method => :delete
