- @active_tab = :photos
- title "#{h @band_photo.title}", true

= image_tag @band_photo.file(:original)

%p= h @band_photo.description


= link_to 'Edit', edit_band_photo_path(@band_photo), :class => 'edit'
= link_to 'Back', band_photos_path, :class => 'back'
