- @active_tab = :about
- title "About", true

= link_to 'New', new_about_the_band_path, :class => 'new'

- @about_the_bands.each do |about_the_band|
  .section
    %h2= h about_the_band.title
    = link_to 'Edit', edit_about_the_band_path(about_the_band), :class => 'edit'
    = link_to 'Delete', about_the_band, :class => 'delete',
      :confirm => "Are you sure you want to delete #{about_the_band.title}?", 
      :method => :delete
    %p= about_the_band.description