= form.label :title, "Story Title"
= form.text_field :title

= form.label :description, "Story Description"
= form.text_area :description

- form.fields_for :links do |f|
  = render :partial => 'links/form', :object => f

.add
  = link_to_add_fields("Add Link", form, :links)

.clear
