- @active_tab = :news
- title "Edit News Story #{@news_story.title}"

- form_for(@news_story) do |f|
  = f.error_messages
  = render :partial => 'form', :object => f
  = f.submit 'Save Changes', :class => 'submit'
  = link_to 'Cancel', news_stories_path, :class => 'cancel'