- @active_tab = :news
- title 'New News Story'

- form_for(@news_story) do |f|

  = f.error_messages

  %p
    = f.label :title
    %br/
    = f.text_field :title

  %p
    = f.label :description
    %br/
    = f.text_area :description

  %p
    = f.submit 'Create'
    or
    = link_to 'Go Back', news_stories_path
