- @active_tab = :flyers
- title 'Flyers', false

#main_content
  
  .section.two_thirds.float_left

    .section
      %h2.float_left 11 x 17 in
      %p.float_right=link_to "Click here to download the whole set.", "/images/flyers/jahman_brahman_poster_11x17_v3.zip"
      %ul.clear.flyers
        %li= link_to image_tag('/images/flyers/jahman_brahman_poster_11x17_v3_thumb_01.jpg'), '/images/flyers/jahman_brahman_poster_11x17_v3_01.jpg', :class => "flyer", :target => :blank
        %li= link_to image_tag('/images/flyers/jahman_brahman_poster_11x17_v3_thumb_02.jpg'), '/images/flyers/jahman_brahman_poster_11x17_v3_02.jpg', :class => "flyer", :target => :blank
        %li= link_to image_tag('/images/flyers/jahman_brahman_poster_11x17_v3_thumb_03.jpg'), '/images/flyers/jahman_brahman_poster_11x17_v3_03.jpg', :class => "flyer", :target => :blank
        %li= link_to image_tag('/images/flyers/jahman_brahman_poster_11x17_v3_thumb_04.jpg'), '/images/flyers/jahman_brahman_poster_11x17_v3_04.jpg', :class => "flyer", :target => :blank
        %li= link_to image_tag('/images/flyers/jahman_brahman_poster_11x17_v3_thumb_05.jpg'), '/images/flyers/jahman_brahman_poster_11x17_v3_05.jpg', :class => "flyer", :target => :blank
        %li= link_to image_tag('/images/flyers/jahman_brahman_poster_11x17_v3_thumb_06.jpg'), '/images/flyers/jahman_brahman_poster_11x17_v3_06.jpg', :class => "flyer", :target => :blank
      .clear

    .section
      %h2.float_left 8.5 x 11 in
      %p.float_right=link_to "Click here to download the whole set.", "/images/flyers/jahman_brahman_poster_8_5x11_v3.zip"
      %ul.clear.flyers
        %li= link_to image_tag('/images/flyers/jahman_brahman_poster_8_5x11_v3_thumb_01.jpg'), '/images/flyers/jahman_brahman_poster_8_5x11_v3_01.jpg', :class => "flyer", :target => :blank
        %li= link_to image_tag('/images/flyers/jahman_brahman_poster_8_5x11_v3_thumb_02.jpg'), '/images/flyers/jahman_brahman_poster_8_5x11_v3_02.jpg', :class => "flyer", :target => :blank
        %li= link_to image_tag('/images/flyers/jahman_brahman_poster_8_5x11_v3_thumb_03.jpg'), '/images/flyers/jahman_brahman_poster_8_5x11_v3_03.jpg', :class => "flyer", :target => :blank
        %li= link_to image_tag('/images/flyers/jahman_brahman_poster_8_5x11_v3_thumb_04.jpg'), '/images/flyers/jahman_brahman_poster_8_5x11_v3_04.jpg', :class => "flyer", :target => :blank
        %li= link_to image_tag('/images/flyers/jahman_brahman_poster_8_5x11_v3_thumb_05.jpg'), '/images/flyers/jahman_brahman_poster_8_5x11_v3_05.jpg', :class => "flyer", :target => :blank
        %li= link_to image_tag('/images/flyers/jahman_brahman_poster_8_5x11_v3_thumb_06.jpg'), '/images/flyers/jahman_brahman_poster_8_5x11_v3_06.jpg', :class => "flyer", :target => :blank
      .clear

    .section
      %h2.float_left 8.5 x 11 in
      %p.float_right=link_to "Click here to download the whole set.", "/images/flyers/jahman_brahman_quarter_sheet_v3.zip"
      %ul.clear.flyers
        %li= link_to image_tag('/images/flyers/jahman_brahman_quarter_sheet_v3_thumb_01.jpg'), '/images/flyers/jahman_brahman_quarter_sheet_v3_01.jpg', :class => "flyer", :target => :blank
        %li= link_to image_tag('/images/flyers/jahman_brahman_quarter_sheet_v3_thumb_02.jpg'), '/images/flyers/jahman_brahman_quarter_sheet_v3_02.jpg', :class => "flyer", :target => :blank
        %li= link_to image_tag('/images/flyers/jahman_brahman_quarter_sheet_v3_thumb_03.jpg'), '/images/flyers/jahman_brahman_quarter_sheet_v3_03.jpg', :class => "flyer", :target => :blank
        %li= link_to image_tag('/images/flyers/jahman_brahman_quarter_sheet_v3_thumb_04.jpg'), '/images/flyers/jahman_brahman_quarter_sheet_v3_04.jpg', :class => "flyer", :target => :blank
        %li= link_to image_tag('/images/flyers/jahman_brahman_quarter_sheet_v3_thumb_05.jpg'), '/images/flyers/jahman_brahman_quarter_sheet_v3_05.jpg', :class => "flyer", :target => :blank
        %li= link_to image_tag('/images/flyers/jahman_brahman_quarter_sheet_v3_thumb_06.jpg'), '/images/flyers/jahman_brahman_quarter_sheet_v3_06.jpg', :class => "flyer", :target => :blank
      .clear

  .section.one_third.float_right.text_right
    = render :partial => 'layouts/tour_dates'

  .clear

