- @active_tab = :blog
- title 'Blog', true

%table
  %tr
    %th Title
    %th Description
    %th Created At
    %th Updated At
  - @blog_posts.each do |blog_post|
    %tr
      %td= h blog_post.title
      %td= blog_post.description
      %td= h blog_post.created_at
      %td= h blog_post.updated_at
      %td= link_to 'Show', blog_post
      %td= link_to 'Edit', edit_blog_post_path(blog_post)
      %td= link_to 'Delete', blog_post, :confirm => "Are you sure you want to delete #{blog_post.title}?", :method => :delete

%br/
= link_to 'New', new_blog_post_path
