- @active_tab = :blog
- title 'New Blog Post', true

- form_for(@blog_post) do |f|

  = f.error_messages

  %p
    = f.label :title
    %br/
    = f.text_field :title

  %p
    = f.label :description
    %br/
    = f.text_area :description

  %p
    = f.submit 'Create'
    or
    = link_to 'Cancel and Go Back', blog_posts_path
