#colors
  #mountains
  #mountains-top
  #mountains-middle
    #lights
      = image_tag '/images/light2.png', :class => 'one'
      = image_tag '/images/light2.png', :class => 'two'
      = image_tag '/images/light2.png', :class => 'three'
    #band
      .casey
        = image_tag '/images/casey.png', :class => 'bouncy'
      .josh
        = image_tag '/images/josh.png'
      .justin
        = image_tag '/images/justin.png'
      .nate
        = image_tag '/images/nate.png'
      .rowdy
        = image_tag '/images/rowdy.png'
    #crowd
      = image_tag '/images/crowd.png'
    #trees
      = image_tag '/images/tree1.png', :class => 'one'
      = image_tag '/images/tree1.png', :class => 'two'
      = image_tag '/images/tree2.png', :class => 'three'
      = image_tag '/images/tree2.png', :class => 'four'
  #mountains-bottom
.clear
