- javascript 'jquery.color', 'jquery.bouncy', 'jquery.easing', 'cycle_colors'
- stylesheet 'animated_header'

#colors
  #mountains
    = image_tag '/images/mountains-with-lights-and-trees.png'
  #mountains-top
  #mountains-middle
    #band
      .casey
        = image_tag '/images/casey.png', :class => 'bouncy'
      .josh
        = image_tag '/images/josh.png'
      .justin
        = image_tag '/images/justin.png'
      .nate
        = image_tag '/images/nate.png'
      .rowdy
        = image_tag '/images/rowdy.png'
    #crowd
      = image_tag '/images/crowd.png'
  #mountains-bottom
.clear
