- @active_tab = :music
- title "Edit Song #{@song.title}"

- form_for(@song, :html => {:multipart => true}) do |f|  
  = f.error_messages
  = render :partial => "form", :object => f
  = f.submit 'Save Changes', :class => 'submit'
  = link_to 'Cancel', songs_path, :class => 'cancel'
