- @active_tab = :music
- title 'Music', false

#main_content
  .section.left_two_thirds
    %h2 
      %i Newfields 
      Album Available in iTunes Store
    = image_tag '/images/newfields_album_cover.jpg', :width => '640px'
  
  .section.right_one_third
    = render :partial => '/layouts/jplayer_newfields'

  - if current_user.try :admin?
    = link_to 'New', new_song_path

  - @songs.each do |song|
    .section
      %h2= h song.title
      %p= h song.description
      %p= h song.mp3.url
      - if current_user.try :admin?
        = link_to 'Edit', edit_song_path(song)
        = link_to 'Delete', song, 
          :confirm => "Are you sure you want to delete #{song.title}?", 
          :method => :delete
