.fields
  .field
    = form.label :title, "Link Title"
    = form.text_field :title
  
  .field
    = form.label :url, "Link URL"
    = form.text_field :url

  .remove
    = link_to_remove_fields("X", form)
