.fields
  = form.label :title
  = form.text_field :title

  = form.label :url
  = form.text_field :url

  = form.label :description
  = form.text_field :description

  = link_to_remove_fields("remove", form)
