= form.label :title
= form.text_field :title, :placeholder => "Link Title"

= form.label :url
= form.text_field :url, :placeholder => "Link URL"

= form.label :description
= form.text_area :description, :placeholder => "Link Description"
