- @active_tab = :links
- title "Edit #{@link.title}"

- form_for(@link) do |f|
  = f.error_messages
  = render :partial => 'form', :object => f
  = f.submit 'Save Changes', :class => 'submit'
  = link_to 'Cancel', links_path, :class => 'cancel'
