- @active_tab = :about
- title "About", false

#main_content

  - if current_user.try :admin?
    = link_to 'New', new_about_path, :class => :new, :rel => :shadowbox

  - @abouts.each_with_index do |about, index|

    .section.three_thirds
      %ul{ :id => "about_carousel_#{index}", :class => "jcarousel-skin-classy" }
        - 10.times do
          %li= link_to image_tag('/images/band01.jpg'), '/images/band01.jpg', :rel => "shadowbox[about_#{index}]", :class => "band_thumb", :title => :Title
    
    .section.two_thirds.float_left
      %p= about.description
      - if current_user.try :admin?
        = link_to 'Edit', edit_about_path(about), :class => :edit, :rel => :shadowbox
        = link_to 'Delete', about, :class => :delete, :confirm => "Are you sure you want to delete #{about.title}?", :method => :delete

    .section.one_third.float_right.text_right
      %h2 Links

    .clear
