- @active_tab = :about
- title "About", false

#main_content

  - if current_user.try :admin?
    = link_to 'New', new_about_path, :class => :new, :rel => :shadowbox

  .section.two_thirds.float_left
    
    .section
      %ul.about_photos
        %li= link_to image_tag('/images/about_photos/2010_10_23_BRIAN_HOCKENSMITH_04_thumb.jpg'), '/images/about_photos/2010_10_23_BRIAN_HOCKENSMITH_04.jpg', :rel => "shadowbox[about_1]", :class => "band_thumb"
        %li= link_to image_tag('/images/about_photos/2010_10_23_BRIAN_HOCKENSMITH_02_thumb.jpg'), '/images/about_photos/2010_10_23_BRIAN_HOCKENSMITH_02.jpg', :rel => "shadowbox[about_1]", :class => "band_thumb"
        %li= link_to image_tag('/images/about_photos/2010_10_23_BRIAN_HOCKENSMITH_05_thumb.jpg'), '/images/about_photos/2010_10_23_BRIAN_HOCKENSMITH_05.jpg', :rel => "shadowbox[about_1]", :class => "band_thumb"
        %li= link_to image_tag('/images/about_photos/2010_10_23_BRIAN_HOCKENSMITH_03_thumb.jpg'), '/images/about_photos/2010_10_23_BRIAN_HOCKENSMITH_03.jpg', :rel => "shadowbox[about_1]", :class => "band_thumb"
        %li= link_to image_tag('/images/about_photos/2010_10_23_BRIAN_HOCKENSMITH_06_thumb.jpg'), '/images/about_photos/2010_10_23_BRIAN_HOCKENSMITH_06.jpg', :rel => "shadowbox[about_1]", :class => "band_thumb"
      .clear

    - @abouts.each_with_index do |about, index|
      .section
        %p= about.description
        - if current_user.try :admin?
          = link_to 'Edit', edit_about_path(about), :class => :edit, :rel => :shadowbox
          = link_to 'Delete', about, :class => :delete, :confirm => "Are you sure you want to delete #{about.title}?", :method => :delete

    .section
      %ul.about_photos
        %li= link_to image_tag('/images/about_photos/IN_TREE_03_thumb.jpg'), '/images/about_photos/IN_TREE_03.jpg', :rel => "shadowbox[about_2]", :class => "band_thumb"
        %li= link_to image_tag('/images/about_photos/FRONT_TREES_01_thumb.jpg'), '/images/about_photos/FRONT_TREES_01.jpg', :rel => "shadowbox[about_2]", :class => "band_thumb"
        %li= link_to image_tag('/images/about_photos/IN_LEAVES_01_thumb.jpg'), '/images/about_photos/IN_LEAVES_01.jpg', :rel => "shadowbox[about_2]", :class => "band_thumb"
        %li= link_to image_tag('/images/about_photos/IN_TREE_01_thumb.jpg'), '/images/about_photos/IN_TREE_01.jpg', :rel => "shadowbox[about_2]", :class => "band_thumb"
        %li= link_to image_tag('/images/about_photos/IN_TREE_02_thumb.jpg'), '/images/about_photos/IN_TREE_02.jpg', :rel => "shadowbox[about_2]", :class => "band_thumb"
      .clear

  .section.one_third.float_right.text_right
    = render :partial => 'layouts/tour_dates'

  .clear
