- @active_tab = :press
- title 'Press'

- if current_user.try :admin?
  = link_to 'New', new_press_story_path, :class => 'new'

- @press_stories.each do |press_story|
  .section
    %h2= link_to (h press_story.title), press_story.url
    %p= press_story.description
    - if current_user.try :admin?
      = link_to 'Edit', edit_press_story_path(press_story), :class => 'edit'
      = link_to 'Delete', press_story, :class => 'delete',
        :confirm => "Are you sure you want to delete #{press_story.title}?", 
        :method => :delete