- @active_tab = :press
- title "#{h @press_story.title}", true

%p= h @press_story.description
%p= h @press_story.url

= link_to 'Edit', edit_press_story_path(@press_story), :class => 'edit'
= link_to 'Back', press_stories_path, :class => 'back'