= form.label :name
= form.text_field :name

= form.label :datetime
= form.date_select :datetime

= form.label :ages
= form.text_field :ages

= form.label :venue_id
= form.select :venue_id, options_from_collection_for_select(Venue.all, :id, :name)

= form.label :note
= form.text_field :note

