.fields

  = form.label :datetime, "Date and Time"
  %br
  = form.datetime_select :datetime, :datetime_separator => "&nbsp;at&nbsp;&nbsp;", :use_short_month => true, :order => [:month, :day, :year]

  %br
  = form.label :venue_name
  = form.text_field :venue_name, :class => :text_field

  .field
    = form.label :city
    = form.text_field :city, :class => :text_field

  .field
    = form.label :state
    = form.text_field :state, :class => :text_field

  .field
    = form.label :price
    = form.text_field :price, :class => :text_field

  .field
    = form.label :ages
    = form.text_field :ages, :class => :text_field
