- @active_tab = :shows
- title 'New Show'

- form_for(@show) do |f|

  = f.error_messages

  %p
    = f.label :title
    %br/
    = f.text_field :title

  %p
    = f.label :description
    %br/
    = f.text_area :description

  %p
    = f.label :date
    %br/
    = f.date_select :date

  %p
    = f.label :time
    %br/
    = f.time_select :time

  %p
    = f.submit 'Create'
    or
    = link_to 'Cancel and Go Back', shows_path
