- title "#{h @show.venue_name}", false

%table
  %tr
    %td.datetime
      =@show.datetime.strftime("%m/%d/%y")
      %br
      =@show.datetime.strftime("%I:%M %p")
    %td
      = h @show.venue_name
      %br
      = h @show.city + ","
      = h @show.state
    %td
      = h @show.ages
      %br
      = h number_to_currency(@show.price) if @show.price

= link_to :edit, edit_show_path(@show), :class => :edit
= link_to :cancel, nil, :class => :cancel, :onclick => "parent.Shadowbox.close();"
