- @active_tab = :shows
- title "#{h @show.name}", true

%p= h @show.venue
%p= h @show.ages
%p= h @show.note
%p= h @show.datetime

= link_to 'Edit', edit_show_path(@show), :class => 'edit'
= link_to 'Go Back to All Shows', shows_path, :class => 'back'
