.social_networks
  = image_tag '/images/icons/facebook.png'
  = image_tag '/images/icons/twitter.png'
  = image_tag '/images/icons/myspace.png'
  = image_tag '/images/icons/jambase.png'
  = image_tag '/images/icons/youtube.png'
