.social_networks
  = link_to image_tag('/images/icons/facebook.png'), 'http://www.facebook.com/pages/Jahman-Brahman/170676061358', :target => :blank
  = link_to image_tag('/images/icons/twitter.png'), 'http://www.twitter.com/jahmanbrahman', :target => :blank
  = link_to image_tag('/images/icons/myspace.png'), 'http://http://www.myspace.com/thejahmanbrahmanfamily', :target => :blank
  = link_to image_tag('/images/icons/jambase.png'), 'http://www.jambase.com/Artists/40685/Jahman-Brahman', :target => :blank
  = link_to image_tag('/images/icons/youtube.png'), 'http://www.youtube.com/user/jahmanbrahman', :target => :blank
