.section.tour_dates
  %h2.text_left Tour Dates
  %table
    - @future_shows.each_with_index do |show, index|
      %tr{:class => "#{ index.odd? ? :grey : nil }"}
        %td.datetime
          =show.datetime.strftime("%m/%d/%y")
          %br
          =show.datetime.strftime("%I:%M %p")
        %td
          = h show.venue.name
          %br
          = h show.venue.address.city
          ,
          = h show.venue.address.state
        %td
          = h show.ages
          %br
          = h number_to_currency show.price
