!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title
      Jahman Brahman - 
      = yield(:title) || "Untitled"
    = stylesheet_link_tag 'scaffold'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'
    = javascript_include_tag 'application'
    = yield(:head)
  %body{:class => body_classes}
  
    #container
      #main_navigation
        = render :partial => 'shared/navigation'
        
        - if flash[:notice]
          .notice= flash[:notice]
        - if flash[:error]
          .error= flash[:error]

      %h1= yield(:title) if show_title?
    
      = yield
