!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title
      Jahman Brahman - 
      = yield(:title) || "Untitled"
    = javascript_include_tag  'jquery.js', 'application'
    = javascript_include_tag  'jquery.jcarousel.min', 'jcarousel'
    = javascript_include_tag  'js.shadowbox', 'shadowbox'
    = stylesheet_link_tag     'application', 'jcarousel', 'shadowbox'
    
    = yield(:head)
  %body{:class => body_classes}
  
    = render :partial => 'layouts/navigation'

    - if flash[:notice]
      .notice= flash[:notice]
    - if flash[:error]
      .error= flash[:error]

    = yield
    
    .clear
    #footer
      = render :partial => 'layouts/footer'
