!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title
      Jahman Brahman - 
      = yield(:title) || "Untitled"
    = stylesheet_link_tag 'scaffold', 'skin'
    = javascript_include_tag 'jquery.js'
    = javascript_include_tag 'jquery.jcarousel.min.js'
    = javascript_include_tag 'jquery.color.js', 'jquery.bouncy.js', 'jquery.easing.js'
    = javascript_include_tag 'application'
    = yield(:head)
  %body{:class => body_classes}
  
    = render :partial => 'layouts/navigation'
          
    #main_content
      - if flash[:notice]
        .notice= flash[:notice]
      - if flash[:error]
        .error= flash[:error]

      %h1= yield(:title) if show_title?
    
      = yield
