!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title
      Jahman Brahman - 
      = yield(:title) || "Untitled"
    = javascript_include_tag  'jquery.js', 'application'
    = javascript_include_tag  'js.shadowbox', 'shadowbox'
    = stylesheet_link_tag     'application', 'shadowbox'

    = yield(:head)
    = render :partial => 'layouts/google_analytics'
  %body{:class => body_classes}

    #container
      = render :partial => 'layouts/navigation'

      - if flash[:notice]
        .section.notice= flash[:notice]
      - if flash[:error]
        .section.error= flash[:error]

      = yield
      
    #footer.clear
      = render :partial => 'layouts/footer'
